body {
    padding-top: 6rem;
}

.navbar {
    background-color: #70DFC6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 0 0 40px 40px;
    border-block-end: 2px solid black;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    border-radius: 0 40px 0 40px;
    border-block-start: 2px solid black;
    border-block-end: 2px solid black;
}

.offcanvas-header {
    background-color: #70DFC6;
}

.offcanvas-body { 
    background-color: rgba(112, 223, 198, 0.6);
    
    
}

.offcanvas-title{

    font-size: 40px;
}

.nav-item {
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;   
    margin-bottom: 10px;
    
}


.footer {
    background-color: #70DFC6;
    text-align: center;
    border-radius: 40px 40px 0 0;
    border-block-start: 2px solid black;
    font-size: 20px;
}

.dropdown-item{
    font-size: 25px;
}

.navbar-toggler{
    margin-right: 30px;
    height: 40px;
    width: auto;
    
}

.navbar-toggler-icon {
    height: 80px;
    width: 80px;
}



