body {
    padding-top: 6rem;
}

.navbar {
    background-color: #70DFC6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 0 0 40px 40px;
}

.navbar-brand img {
    height: 90px;
    width: auto;
    border-radius: 0 40px 0 40px;
}

.offcanvas-header {
    background-color: #70DFC6;
}

.offcanvas-body {
    background-color: #70DFC6;
    opacity: 0.6;
}

.offcanvas-title{

    font-size: 40px;
}
.nav-item {
    font-size: 30px;
}

.footer {
    background-color: #70DFC6;
    text-align: center;
    border-radius:40px 40px 0 0;
    font-size: 20px;
}
